Contact us

-Button in navbar X
-We need routes for new contact(GET new contact) and create contact (POST contact) X
-Button should lead to new form X
-Form fields should be connected to database X
-Form should submit POST request to server X
-Fields should be validated X
-Contact email should be saved in database X

User Plans

-Plan table with (ID), cost and timestamps X
-Active record 1:many relationship between plan and user
-Database seed for plan table
-Options on webpage to sign up with either page
-Basic sign up should be the normal page
-STRIPE