Contact us

-Button in navbar
-We need routes for new contact(GET new contact) and create contact (POST contact)
-Button should lead to new form
-Form fields should be connected to database
-Form should submit POST request to server
-Fields should be validated
-Contact email should be saved in database