<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Community</h1>
      <% @users.each do |u| %>
        <div class="well">
          <h3><%= u.profile.fname + " " + u.profile.lname %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

