<div class="container-fluid home-callout text-center">
  <h1>Welcome to The Pond</h1>
  <h3>A meetup site for developers and entrepeneurs</h3>
</div>
<div class="container sign-up-fields">
  <div class="row">
    <% if !user_signed_in? %> 
      <%= render 'signup' %>
    <% else %> 
      <%= render 'profiles' %> 
    <% end %> 
  </div>
</div>