.well.profile-basic-info{
  background-color: #767836;
  color: #FFF;
}

.well.profile-contact-info{
  background-color: #7B4B41; 
  color: #FFF;
}

//Index page
.row.well.white-bg{
  background-color: #FFF;
}

.community-logo{
  font-weight: 800;
}

.profile-name-link{
  h3{
    color: black;
    font-weight: 600;
  }
}